body {
  margin: 6px;
}
.header {
  height:70px;
  width:100%;
  background: rgba(245, 94, 0, 0.5); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#F55D00, rgba(245, 94, 0, 0.01)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F55D00, rgba(245, 94, 0, 0.01)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F55D00, rgba(245, 94, 0, 0.01)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F55D00, rgba(245, 94, 0, 0.01)); /* Standard syntax (must be last) */
}

.header span {
  color: #FFF;
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: bold;
  padding: 10px 15px;
}

.header img {
  width: 68px;
  height: 68px;
}

footer p {
  font-size: 12px;
  padding-left: 4px;
}

footer div.gradient{
  height: 35px;
  width:100%;
  background: rgba(245, 94, 0, 0.5); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(245, 94, 0, 0.01),#F55D00); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(245, 94, 0, 0.01),#F55D00); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(245, 94, 0, 0.01),#F55D00); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(245, 94, 0, 0.01),#F55D00); /* Standard syntax (must be last) */
}

.content-panel {
  width: 100%;
}

.intro {
  margin-top: 15px;
}

.intro .panel-body {
  max-height: 101px;
}

.detail-panel {
  padding: 15px;
  padding-right:30px;
}

.detail-panel .tab-pane {
  padding-top: 15px;
}

.copy {
  overflow-y: auto;
  vertical-align: top;
  padding-right: 4%;
  padding-left: 4%;
  width: 48%;
  display: inline-block;
}

/* Bootstrap Overrrides */

.tab-content {
padding:10px;
border:1px solid #ddd;
border-bottom:0px;
display: none;
}
.nav-tabs {
border-bottom: 0px;
border-top: 1px solid #ddd;
}
.nav-tabs > li {
margin-bottom:0;
margin-top:-1px;
}

.nav-tabs > li > a {
padding-top: 8px;
padding-bottom: 8px;
line-height: 20px;
border: 1px solid transparent;
-moz-border-radius:0px;
-webkit-border-radius:0px;
border-radius:0px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
color: #555555;
cursor: default;
background-color: #ffffff;
border: 1px solid #ddd;
border-top-color: transparent;
}

.nav-pills>li>a {
    background-color: #FFE4CC;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #F77300;
}
/* End */

/* d3 */
.line {
  fill: none;
  stroke: #F77300;
  stroke-width: 3px;
}

.color0Line,
.color1Line {
  fill: none;
  stroke-width: 2px;
}

.color0Line {
  stroke: #f77300;
}

.color1Line {
  stroke: #994700;
}

.effMean,
.actMean {
  fill: none;
  stroke-width: 2px;
  stroke-dasharray: 10,5;
}

.actMean {
  stroke: #994700;
}

.effMean {
  stroke: #f77300;
}



.color0Line1px {
  fill: none;
  stroke: #f77300;
  stroke-width: 1px;
}

.color1Line1px {
  fill: none;
  stroke: #994700;
  stroke-width: 1px;
}

.color0Rect,
.color1Rect {
  fill: #FFF;
}

.color0Rect {
  stroke: #f77300;
  stroke-width: 1px;
}

.color1Rect {
  stroke: #994700;
  stroke-width: 1px;
}

.blackLine,
.offsetsLine {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}


.tick line {
  opacity: 0.1;
}

.viz-container svg {
  float: right;
}

svg .title {
  fill: #000;
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
}

svg .axis--y path,
svg .axis--x path {
  stroke: #BBB;
}

svg .axis--x .tick text {
  fill: #000;
  font-size: 12px;
  text-anchor: middle;
}

svg .axis--y .tick text {
  fill: #000;
  font-size: 12px;
  text-anchor: end;
}

.legend {
  font-size: 12px;
  fill: #000;
  text-anchor: start;
}

.color0callout {
  font-size: 12px;
  fill: #f77300;
  text-anchor: middle;
}

.color1callout {
  font-size: 12px;
  fill: #994700;
  text-anchor: middle;
}

.source {
  fill: #000;
  font-size: 10px;
  background-color: #FFF;
  text-anchor: left;
}
/* End */
